<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Table.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Table.Properties.Settings>
            <setting name="timeDown" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="timeUp" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="minTimeDown" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="minTimeUp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="maxTimeDown" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="maxTimeUp" serializeAs="String">
                <value>120</value>
            </setting>
        </Table.Properties.Settings>
    </userSettings>
</configuration>